div(id='questionFeed')
    each question in questions
        div(class='question')
<<<<<<< HEAD
            input(type='hidden' value=likeNum name='likeNum')
            input(type='hidden' value=question name='question')
            a(href='/'  id='likeQuestion')
                button(class='likeButton' ) Like
                    //- div(class='likeNum')= question.likeNum
=======
>>>>>>> b1d84e27943e90191037291b297ae6313c41c560
            a(href=`/questions/${question.id}` class='questionText')= question.question
            if question.userId === userId
                div.editDeleteContainer
                    a(href=`/questions/${question.id}/edit` id='editQuestion' class='editDelete') Edit
                    a(id=`question-delete-${question.id}` class='delete-button deleteQuestion editDelete' href=``) Delete
