extends layout.pug

include utils.pug 

block content
    include navigation-bar.pug
    div #{question.User.username}
    div #{question.question}
    div 
        form(action='/answers/new' method='post')
            input(type='hidden' value=questionId name='questionId')
            input(type='hidden' name='_csrf' value=csrfToken)
            button(type='submit' id='addAnswerButton') Add Answer
            
        div 
            a(href='/answers/edit') Edit 
            a(href='/answers/:id/delete') Delete
    if answers
        for answer in answers
            div 
                p= answer.answer
                    div 
                        button(type='button') Comment Open/Close
                        div 
                            a(href='/answers/edit') Edit 
                            a(href='/answers/:id/delete') Delete
                    div
                        div #{question.User.username}
                        form(action='/comments' method='post')
                            +field('', 'comment', null, null, 'Please submit comment...')
                            button(type="submit") Submit
    
            
        
