extends layout.pug

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)
  script(src="/javascripts/toggle.js" type="module")

include utils.pug

block content
    include navigation-bar.pug
    div #{question.User.username}:
    div #{question.question}
    div
        form(action='/answers/new' method='post')
            input(type='hidden' value=question.id name='questionId')
            input(type='hidden' name='_csrf' value=csrfToken)
            button(type='submit' id='addAnswerButton') Add Answer
        if question.userId === userId
            div
                a(href=`/questions/${question.id}/edit`) Edit
                a(class=('questionPage-delete-button') href=`/questions/${question.id}/pageDelete`) Delete
    if answers
        for answer in answers
            div(class='answersFeed')
                div #{answer.User.username}:
                p= answer.answer
                    div(class='answersOptions')
                        button(type='button' class='toggleButton' id=`showComment-${answer.id}`) Show Comments
                        if answer.userId === userId
                            div
                                a(href=`/answers/${answer.id}/edit`) Edit
                                a(class=('answer-delete-button') href=`/answers/${answer.id}/delete`) Delete
                    div(id=`commentsFeed-${answer.id}` class='targetShow')
                        form(action='/comments' method='post')
                            input(type='hidden' name='_csrf' value=csrfToken)
                            input(type='hidden' value=userId name='userId')
                            input(type='hidden' value=answer.id name='answerId')
                            input(type='hidden' value=question.id name='questionId')
                            +field('', 'comment', null, null, 'Please submit comment...')
                            button(type="submit") Submit
                            if comments
                                for comment in comments
                                    if comment.answerId === answer.id
                                        div
                                            for user in users
                                                if user.id === comment.userId
                                                    div #{user.username}:
                                            p= comment.comment
                                            if comment.userId === userId
                                                div
                                                    a(href=`/comments/${comment.id}/edit`) Edit
                                                    a(class=('comment-delete-button') href=`/comments/${comment.id}/delete`) Delete
